<h1 style="color:blue;">
  Login Page
</h1>

<div class="container">

  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
  </div>
  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
    <div *ngIf="f.username.errors.required">Username is required</div>
  </div>



  <div class="jumbotron" style="width:400px;height:400px">
    <div class="row-1">
      <img src="assets\images\logg.png" class="center" width="50" height="200">
      <br>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="row-2">
        <div class="row">

          <div class="form-group" style="text-align:center;">
            <label for="user">Username: </label>
            <input type="text" [(ngModel)]="username" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          </div>
        </div>

        <div class="row">
          <div class="form-group" style="text-align:center;">
            <label for="pwd">Password: </label>
            <input type="password" [(ngModel)]="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          </div>
        </div>

        <div class="row">
          <div class="checkbox" style="text-align:center;">
            <label><input type="checkbox">Remember me</label>| <a href="#">Forgot Password</a>
          </div>
        </div>


        <div class="button" style="text-align:center;">
          <button type="submit" (click)="onSubmit()">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>
